.App {
  text-align: center;
  font-family: "Monoton", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240);
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border-width: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

/* FONT SIZES */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.5em;
}

.author {
  background-color: rgb(240, 240, 240);
  text-align: left;
}

/* COMPONENTS */
.header {
  display: inline;
}

.appName {
  text-align: center;
  text-shadow: rgb(32, 32, 32);
  background-color: rgb(32, 32, 32);
  color: #ffcc00;
  width: 100%;
  border-radius: 0.5em;
}

#backgroundImage {
  background-image: url("https://images.unsplash.com/photo-1446776899648-aa78eefe8ed0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  z-index: -1;
}

.home {
  color: #ffcc00;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sort {
  padding-bottom: 0.5em;
  border-top-style: solid;
}

.articlesList {
  margin: 5px;
  padding: 1em;
  background-color: rgb(240, 240, 240);
}

.articleCard {
  background-color: white;
  margin: 10px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.articleCard:link,
.articleCard:visited {
  text-decoration: none;
}

.articleCard:hover,
.articleCard:active {
  background-color: #ffcc00;
}

.articleCardHeader {
  background-color: rgb(32, 32, 32);
  border-radius: 0.5em;
  color: #ffcc00;
}

.articleCardHeader:link {
  text-decoration-line: none;
}

.newArticle {
  border-top: solid;
  padding-bottom: 2em;
}

.singleArticle {
  background-color: white;
  margin: 20px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.singleArticleTitle {
  background-color: rgb(32, 32, 32);
  border-radius: 0.5em;
  color: #ffcc00;
}

.newArticleForm {
  display: inline-block;
}

.comments {
  margin: 10px;
  padding: 1em;
  background-color: rgb(240, 240, 240);
}

.postComment {
  padding-bottom: 4em;
  border-bottom: solid;
}

.commentsList {
  margin: 10px;
  padding: 1em;
  background-color: rgb(240, 240, 240);
}

.commentCard {
  background-color: white;
  margin: 20px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.voting {
  padding: 10px;
}

.comments {
  padding: 1em;
  border-top: solid;
}

.topic {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-content: space-around;
  padding-left: 10vh;
  padding-right: 10vh;
}

.topic:link,
.topic:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.topic:hover,
.topic:active {
  background-color: #ffcc00;
}

.usersList {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-left: 10vh;
  padding-right: 10vh;
}

.userCard {
  background-color: white;
  margin: 20px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.userCard:link,
.userCard:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.userCard:hover,
.userCard:active {
  background-color: #ffcc00;
}

.userProfile {
  background-color: white;
  margin: 20px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.userUser {
  background-color: rgb(32, 32, 32);
  border-radius: 0.5em;
  color: #ffcc00;
}

.userUsername {
  background-color: rgb(240, 240, 240);
}

.avatarImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.loader {
  border: 12px solid rgb(32, 32, 32);
  border-top: 12px solid #ffcc00;
  border-bottom: 12px solid #ffcc00;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
