.App {
  text-align: center;
  font-family: "Monoton", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240);
  color: rgb(32, 32, 32);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 20px;
  border-width: 5px;
}

/* .App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 40vmin;
  pointer-events: none;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

/* FONT SIZES */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.5em;
}

.author {
  background-color: rgb(240, 240, 240);
  text-align: left;
}

/* COMPONENTS */
.header {
  width: 40em;
}

.appName {
}

/* .nav {
  background-color: #bdc3c7;
  width: 40em;
} */

.home {
}

.logInBox {
}

.loggedIn {
}

.sort {
  padding-bottom: 0.5em;
  border-top-style: solid;
}

.articlesList {
  margin: 5px;
  padding: 1em;
  background-color: rgb(240, 240, 240);
}

.articleCard {
  background-color: white;
  margin: 10px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.topic {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-left: 10vh;
  padding-right: 10vh;
}

.articleCard:link,
.articleCard:visited {
  text-decoration: none;
}

.articleCard:hover,
.articleCard:active {
  background-color: #ffcc00;
}

.articleCardHeader {
  background-color: rgb(32, 32, 32);
  border-radius: 0.5em;
  color: #ffcc00;
}

.articleCardHeader:link {
  text-decoration-line: none;
}

.addArticleHeader {
}

.newArticle {
  padding-bottom: 2em;
}

.singleArticle {
  background-color: white;
  margin: 20px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.singleArticleTitle {
  background-color: rgb(32, 32, 32);
  border-radius: 0.5em;
  color: #ffcc00;
}

.newArticleForm {
  display: inline-block;
}

.comments {
  margin: 10px;
  padding: 1em;
  background-color: rgb(240, 240, 240);
}

.commentsList {
  margin: 10px;
  padding: 1em;
  background-color: rgb(240, 240, 240);
}

.commentCard {
  background-color: white;
  margin: 20px;
  border-radius: 0.5em;
  padding: 1em;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

.newCommentBox {
}

.voting {
  padding: 10px;
}

.postComment {
}

.topics {
}

.topic {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-left: 10vh;
  padding-right: 10vh;
}

.topic:link,
.topic:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.topic:hover,
.topic:active {
  background-color: #ffcc00;
}

.users {
}

.newUserForm {
}

.userProfile {
}

/* ANIMATION */

.loader {
  border: 12px solid rgb(32, 32, 32);
  border-top: 12px solid #ffcc00;
  border-bottom: 12px solid #ffcc00;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
