.App {
  text-align: center;
  font-family: "Monoton", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto", sans-serif;
  background-color: #f8e1e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-width: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 40vmin;
  pointer-events: none;
}

ul {
  list-style: none;
}

/* FONT SIZES */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.5em;
}

.author {
  background-color: white;
  text-align: left;
}

/* COMPONENTS */
.header {
}

.appName {
  background-color: #bdc3c7;
}

.nav {
}

.home {
}

.logInBox {
}

.loggedIn {
}

.sort {
  border-style: solid;
}

.articlesList {
  border-style: dotted;
}

.articleCard {
  background-color: #bdc3c7;
  margin: 20px;
  border-radius: 0.1em;
  padding: 1em;
}

.articleCardHeader {
}

.addArticleHeader {
}

.newArticle {
  border-style: dashed;
}

.singleArticle {
  margin: 20px;
  background-color: #bdc3c7;
  border-radius: 0.1em;
  padding: 1em;
}

.newArticleForm {
}

.comments {
  border-style: dotted;
}

.commentsList {
  border-style: double;
}

.commentCard {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #bdc3c7;
  border-radius: 0.1em;
  padding: 1em;
}

.newCommentBox {
}

.voting {
}

.postComment {
}

.topics {
  border-style: dotted;
}

.topic {
  background-color: white;
}

.newUserForm {
}

.userProfile {
}

/* BUTTONS */

.sortbyDateButton {
}

.sortbyCommentCountButton {
}

.sortbyVoteCountButton {
}

.sortbyAuthorButton {
}

.deleteButton {
}

.submitButton {
}

.logInButton {
}

.logoutButton {
}

.voteUpButton {
}

.voteDownButton {
}

/* ANIMATION */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
