.App {
  text-align: center;
  /* font-family: "Monoton", cursive; */
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 40vmin;
  pointer-events: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 8eh;
}

h2 {
  font-size: 6eh;
}

h3 {
  font-size: 4eh;
}

h4 {
  font-size: 3eh;
}

h5 {
  font-size: 2eh;
}

h6 {
  font-size: 1eh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
